
<div class="container">
  <section id="content">
    <form>
      <h1>Login</h1>
      <div>
        <input [(ngModel)]="userName" type="text" placeholder="Username" required="" id="username" [ngModelOptions]="{standalone: true}" />
      </div>
      <div>
        <input  [(ngModel)]="password" type="password" placeholder="Password" required="" id="password" [ngModelOptions]="{standalone: true}" />
      </div>
      <div>
        <input type="button" (click)="login();false" value="Log in" />
        <a href="#" (click)="register();false" >Register</a>
      </div>
    </form><!-- form -->
    
  </section><!-- content -->
</div><!-- container -->

