<div>
    <div class="sidenav">
        <h3>Usage and Cmds</h3>
        <div>
        <p>To execute a command: type the cmd in the input below the text area and hit ENTER. 
            You can use relative or absolute paths</p>
            </div>
        <ul>
            <li><strong>cd</strong> - change dir</li>
            <li><strong>ls</strong> - list dirs</li>
            <li><strong>clear</strong> - crear output</li>
            <li><strong>pwd</strong> - print working dir</li>
            <li><strong>echo</strong> - create a file. Syntax: echo 'content' filename</li>
            <li><strong>cat</strong> - view the content of a file</li>
            <li><strong>mkdir</strong> - create a dir</li>
            <li><strong>rm</strong> - remove a file</li>
            <li><strong>rmdir</strong> - remove a dir</li>
            <li><strong>lbl</strong> - print list of first 10 free blocks</li>
            <li><strong>lil</strong> - print list of first 10 free inodes</li>
            <li><strong>cp</strong> - copy file</li>
            <li><strong>mv</strong> - move or rename a file or dir</li>
        </ul>
      </div>
    <div class="wrapper">
        <h3>Welcome {{userName}}</h3>
        <textarea [(ngModel)]="terminalOut" id="terminalOut" name="terminalOut" class="tty out" #textarea [scrollTop]="textarea.scrollHeight" readonly></textarea>
        <br/>
        <input [(ngModel)]="terminalIn" type="text" name="terminalIn" id="terminalIn" class="tty in" placeholder="~$" (keyup.enter)="submitCmd()" />
    </div>
    <div class="sidenavb">
        <h3>Krat<span style="color: red; font-weight: bold;">OS</span></h3>
        <div>
            <p>Tired of your operating system?</p>
            </div>
        <div><img alt="KratOS Disapproves" src="https://media1.tenor.com/images/828987a89965a52c81ad92558bdd23b7/tenor.gif?itemid=11835480" width="250px" /></div>
            <div>
            <p>Try <strong>Krat<span style="color: red;">OS</span></strong>, a lightweight but effective operating system. Always ready to do your common file system tasks.</p>
            </div>
            <div>
                <img alt="kratOS Approves" src="https://media0.giphy.com/media/HFbtg3SmlDx8f9g4dJ/giphy.gif" width="250px" />
                </div>
      </div>
</div>
