.tty {
    margin-top: 2%;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #000;
    border: 2px solid transparent;
    background-color: #eae7e7;
    color: black;
}

.in {
    height: 15px;
}

.out {
    height: 400px;
    font-weight: bold;
}

.tty:focus {
    outline:none;
}

.wrapper {
    width: 50%;
  margin: 0 auto;
}


.sidenav {
    height: 100%; 
    width: 260px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #eae7e7; 
    overflow-x: hidden; 
    padding: 20px;
  }
  
  
  .sidenav h3 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenavb {
    height: 100%; 
    width: 260px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #eae7e7; 
    overflow-x: hidden; 
    padding: 20px;
  }
  
  
  .sidenavb h3 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  
  .sidenavb a:hover {
    color: #f1f1f1;
  }

.wrapper h3:before,
.wrapper h3:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 10px;
  width: 27%;
  text-align: center;
   color:#81819d; 
   font-size: 25px;
}
 
  