<div class="container">
    <section id="content">
      <form >
        <h1>Register</h1>
        <div>
          <input [(ngModel)]="userName" (change)="updateHome($event)" name="userName" type="text" placeholder="Username" required="" id="username" [ngModelOptions]="{standalone: true}" />
        </div>
        <div>
          <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required="" id="password" [ngModelOptions]="{standalone: true}" />
        </div>
        <div>
            <input [(ngModel)]="confirm" name="confirm" type="password" placeholder="Confirm Password" required="" id="confirm" [ngModelOptions]="{standalone: true}" />
          </div>
          <div>
            <input [(ngModel)]="home" disabled name="home" type="text" required="" id="home" [ngModelOptions]="{standalone: true}" value="home"/>
          </div>
        <div>
          <input type="button" (click)="register();false" value="Register"/>
        </div>
      </form><!-- form -->
      
    </section><!-- content -->
  </div><!-- container -->
  
  